Marzuku - At Ends.mp3
Dεfil - Crucified In Heaven - Pucciless version.mp3
__pycache__/logica.cpython-311.pyc
__pycache__/designApp.cpython-311.pyc
Adele - Adele - Hello (Official Music Video).webm.part
designApp.ui
main.py
